body {
    background-color: black;
}
.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    font-family: Libre Baskerville;
    text-align: center;
    color: white;

}
h1 {
    text-transform: uppercase;
    /* text-align: center; */
}
img {
    border:5px solid white;
    width: 50%;
}